// VARIABLES
$text: #000;
$bg: #f4f4f6;
$text-light: #b0a3a7;
$red: #be0909;

// MAIN STYLES
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  height: 100vh;
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: $text;

  background-color: $bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 500;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;

  display: flex;
  justify-content: center;
}

// APP
.app {
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;

  &__title {
    color: $text-light;
    font-size: 46px;
    font-weight: 300;

    & span {
      color: $text;
      font-weight: 700;
    }
  }

  &__add {
    margin-top: 50px;
    width: 100%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input {
    width: 100%;
    padding: 15px 25px;

    outline: none;
    border: 0;
    border: 1px solid $text-light;
    border-radius: 25px;
    background-color: $bg;

    font-size: 16px;
    color: $text;
  }

  &__btn {
    margin-top: 25px;
    height: 40px;
    width: 40px;

    line-height: 40px;
    font-size: 30px;

    color: lighten($text, 30);

    border: 1px solid $text-light;
    background-color: $bg;

    cursor: pointer;
  }
}
