// VARIABLES
$text: #000;
$bg: #f4f4f6;
$text-light: #b0a3a7;
$red: #be0909;

// MAIN STYLES
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  height: 100vh;
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: $text;

  background-color: $bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 500;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;

  display: flex;
  justify-content: center;
}

// APP
.app {
  text-align: center;
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 150px;

  &__title {
    color: $text-light;
    font-size: 46px;
    font-weight: 300;

    & span {
      color: $text;
      font-weight: 700;
    }
  }

  &__add {
    margin-top: 50px;
    width: 100%;
  }

  &__tasks {
    margin-top: 25px;
    text-align: left;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input {
    width: 100%;
    padding: 15px 25px;

    outline: none;
    border: 0;
    border: 1px solid $text-light;
    border-radius: 25px;
    background-color: $bg;

    font-size: 16px;
    color: $text;
  }

  &__btn {
    margin-top: 25px;
    height: 40px;
    width: 40px;

    line-height: 40px;
    font-size: 30px;

    color: lighten($text, 30);

    border: 1px solid $text-light;
    background-color: $bg;

    cursor: pointer;
  }
}

.task__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin-top: 5px;

  background: darken($color: $bg, $amount: 5);
  border-radius: 15px;

  color: #2e8b57;

  &--tracking {
    display: flex;
    align-items: center;

    & span {
      margin-left: 20px;
      cursor: pointer;

      font-size: 20px;

      &:nth-child(1) {
        margin-left: 0;
        font-size: 16px;

        cursor: auto;
      }
      &:nth-child(2) {
        border: 0;
        background: transparent;
        box-sizing: border-box;
        width: 0;
        height: 20px;

        border-color: transparent transparent transparent $text;
        transition: 100ms all ease;
        cursor: pointer;

        // play state
        border-style: solid;
        border-width: 10px 0 10px 15px;
      }
      &:nth-child(3) {
        color: $red;
        font-size: 19px;
      }
    }
  }
}

.task__item.paused {
  .task__item--tracking--start-stop {
    height: 15px;
    border-style: double;
    border-width: 0px 0px 0px 15px;
  }
}
