.vscode
lesson-6/assets/css/style.css.map
test-work/sign-up-page/assets/css/style.css.map
test-work/sign-in-page/assets/css/style.css.map
test-work/forgot-password-page/assets/css/style.css.map
test-work/reset-password-page/assets/css/style.css.map
test-work-memory-game/assets/css/style.css.map