// VARIABLES
$white: #ffffff;
$placeholder: #8d8da5;
$label: #181c32;
$red: #e2222d;
$border: #dbdfeb;

/* MAIN STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background-color: $white;
  color: $placeholder;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 500;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 15px;
}
