/* MAIN STYLES */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #ffffff;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 500;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  padding: 15px 55px;
  border: 0;
  border-radius: 8px;
  background-color: #e2222d;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.btn:hover {
  background-color: #cb1b25;
}

.link {
  font-weight: 500;
  font-size: 13px;
  color: #181c32;
  text-decoration: underline;
}

.link-btn {
  display: block;
  margin-top: 25px;
}

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__preview {
  padding: 0 10px;
  width: 50%;
  height: 100vh;
  background: transparent url("../images/Mask Group 43.png") center center no-repeat;
  background-size: cover;
}

.main__content {
  margin-top: 90px;
  margin-left: 80px;
}

.main__content--header {
  font-family: 'Arimo', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 500;
  color: #ffffff;
}

.main__content--header .red {
  color: #e2222d;
}

.main__content--body {
  width: 100%;
  max-width: 730px;
  margin-top: 115px;
}

.main__content--body--title {
  display: block;
  margin-bottom: 25px;
  font-size: 24px;
}

.main__content--body--text {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
}

.main__form {
  width: 50%;
  height: 100vh;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8d8da5;
}

.main__field {
  width: 100%;
  max-width: 450px;
}

.main__field--title {
  margin-bottom: 45px;
  font-size: 36px;
  font-weight: 500;
}

.field__form {
  /* &--forgot {
    text-align: right;
  } */
}

.field__form--group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 15px 0 15px 0;
}

.field__form--group label {
  margin-bottom: 10px;
  font-size: 13px;
  color: #181c32;
}

.field__form--group input {
  height: 50px;
  width: 100%;
  padding: 15px;
  outline: none;
  border: 1px solid #dbdfeb;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 400;
  color: #8d8da5;
}

.field__form--button {
  margin-top: 35px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */