// VARIABLES
$white: #ffffff;
$placeholder: #8d8da5;
$label: #181c32;
$red: #e2222d;
$border: #dbdfeb;

/* MAIN STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: $white;
  color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 500;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

// MAIN
.main {
  width: 100%;
  display: flex;

  // MAIN__PREVIEW
  &__preview {
    padding: 0 10px;
    width: 50%;
    height: 100vh;

    background: transparent url('../images/Mask\ Group\ 43.png') center center
      no-repeat;
    background-size: cover;
  }

  // MAIN__CONTENT
  &__content {
    margin-top: 90px;
    margin-left: 80px;

    &--header {
      font-family: 'Arimo', sans-serif;
      text-transform: uppercase;
      font-size: 50px;
      font-weight: 500;
      color: $white;

      & .red {
        color: $red;
      }
    }

    &--body {
      width: 100%;
      max-width: 730px;
      margin-top: 115px;

      &--title {
        display: block;
        margin-bottom: 25px;

        font-size: 24px;
      }

      &--text {
        font-size: 16px;
        font-weight: 400;

        opacity: 0.8;
      }
    }
  }

  // MAIN__FORM
  &__form {
    width: 50%;
  }
}
