// VARIABLES
$white: #ffffff;
$black: #000;
$gray: #808080;
$blue: #87cefa;
$red: #e2222d;
$green: #008000;
$text: #181c32;
$pink: #df445c;
$card: #704b00;

/* MAIN STYLES */

* {
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overflow: hidden;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

// CONTAINER
.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// BTN
.btn {
  display: inline-block;
  padding: 15px 55px;
  cursor: pointer;

  border: 0;
  border-radius: 8px;
  background-color: $pink;
  text-transform: uppercase;
  color: $white;

  transition: background-color 0.2s linear;
}

.btn:hover {
  background-color: darken($pink, 6);
}

// BOARD
.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  background: $blue url('../images/clouds.jpg') center center no-repeat;
  background-size: cover;

  transition: margin 0.5s ease-out;

  // first board
  &--first {
    justify-content: flex-start;
  }

  &__logo {
    margin: 100px 0;
  }

  &__input {
    margin: 0 0 50px 0;
    padding: 15px;
    width: 25%;

    outline: none;
    border: 1px solid $text;

    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    color: $text;
  }

  // SECOND
  &__info {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    &--item {
      position: relative;
      padding: 25px 50px;
      font-size: 35px;
      font-weight: 700;
      color: $text;
      border: 5px solid $text;
    }

    &--moves::before {
      content: 'moves';
      width: 100%;
      position: absolute;
      top: -50%;
      left: 0;
    }

    &--time::before {
      content: 'time';
      width: 100%;
      position: absolute;
      top: -50%;
      left: 0;
    }
  }
}

.board.up {
  margin-top: -100vh;
}

// GAME
.game__item,
.game__card,
.game__card--side {
  min-height: 100px;
  width: 150px;
  height: 210px;

  transition: all 0.5s linear;
  cursor: pointer;
}

.game {
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &__item {
    padding: 3px 3px;
  }

  &__card {
    position: relative;
    transform-style: preserve-3d;

    &--side {
      position: absolute;
      backface-visibility: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      background: $card;
      background-image: url('https://cdn.discordapp.com/attachments/482233537026719746/896844303446462486/cardboard.png');

      font-size: 50px;
      color: $black;
    }

    &--back {
      transform: rotateY(180deg);
    }
  }
}

// MODAL
.modal {
  width: 100%;
  height: 100%;
  display: none;
  text-align: left;
  position: fixed;
  z-index: 100;

  left: 0;
  top: 0;

  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);

  &__content {
    position: relative;
    margin: 15% auto;
    padding: 20px;
    width: 40%;
    z-index: 10000;

    border: 1px solid $gray;
    background-color: $white;

    font-size: 25px;
    font-weight: 500;
    color: $text;

    animation: animateStart 0.5s;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  &__title {
    font-size: 25px;
    font-weight: 700;
  }

  &__buttons {
    margin-top: 25px;
  }
}

// // NOTIFICATION
// .notification {
//   padding: 16px 32px;
//   margin: 8px;
//   position: fixed;
//   top: 50px;
//   left: 50%;

//   transform: translate(-50%, -50%);

//   background-color: $white;
//   border-radius: 5px;
//   box-shadow: 10px 5px 5px $gray;

//   font-size: 20px;
//   color: $green;
// }

// ANIMATIONS
// ANIMATION FOR ROTATE CARD
@keyframes rotateCard {
  20%,
  90% {
    transform: rotateY(180deg);
  }

  0%,
  100% {
    transform: rotateY(0deg);
  }
}

// ANIMATION FOR APPEARING MODAL WINDOW
@keyframes animateStart {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

// ANIMATION FOR CLOSE MODAL WINDOW
@keyframes animateEnd {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -300px;
    opacity: 0;
  }
}

// MEDIA
// FOR BROWSERS WITH 1200px
@media (max-width: 1200px) {
  .board__info {
    width: 73%;
  }

  .game__item,
  .game__card,
  .game__card--side {
    width: 140px;
    height: 200px;
  }

  .game {
    max-width: 991px;
  }

  .modal__content {
    margin: 45% auto;
    padding: 20px;
    width: 60%;
  }
}

// FOR BROWSERS WITH 1024 px
@media (max-width: 1024px) {
  .board__info {
    width: 85%;
  }
}

// FOR BROWSERS SMALLER THAN 992px
@media (max-width: 992px) {
  .board__input {
    width: 50%;
  }

  .board__info {
    width: 88%;

    &--item {
      font-size: 30px;
    }
  }

  .game {
    max-width: 991px;
  }

  .game__card--side {
    font-size: 40px;
  }

  .game__card--side img {
    width: 46px;
    height: 46px;
  }

  .game__card--side img:nth-child(2) {
    width: 52px;
    height: 52px;
  }

  .modal__content {
    margin: 50% auto;
    padding: 20px;
    width: 60%;
  }
}

// FOR BROWSERS SMALLER THAN 768px
@media (max-width: 768px) {
  .board__input {
    width: 60%;
  }

  .board__info {
    width: 90%;

    &--item {
      font-size: 25px;
    }
  }

  .game__item,
  .game__card,
  .game__card--side {
    width: 110px;
    height: 170px;
  }

  .game {
    max-width: 768px;
  }

  .game__card--side {
    font-size: 35px;
  }

  .game__card--side img {
    width: 36px;
    height: 36px;
  }

  .game__card--side img:nth-child(2) {
    width: 42px;
    height: 42px;
  }

  .modal__content {
    padding: 20px;
    width: 60%;
  }
}

// FOR MOBILE BROWSERS SMALLER THAN 576px
@media (max-width: 576px) {
  .board__logo {
    width: 90%;
  }

  .board__input {
    width: 70%;
  }

  .board__info {
    width: 89%;
    margin-bottom: 10px;

    &--item {
      width: 30px;
      padding: 15px 20px;
      display: flex;
      justify-content: center;

      border: 3px solid $text;

      font-size: 15px;
    }
  }

  .game__item,
  .game__card,
  .game__card--side {
    width: 80px;
    height: 140px;
  }

  .game {
    max-width: 576px;
  }

  .game__card--side {
    font-size: 30px;
  }

  .game__card--side img {
    width: 26px;
    height: 26px;
  }

  .game__card--side img:nth-child(2) {
    width: 32px;
    height: 32px;
  }

  .modal__content {
    margin: 50% auto;
    padding: 15px;
    width: 80%;
  }
}

// FOR MOBILE BROWSERS SMALLER THAN 481px
@media (max-width: 481px) {
  .board__logo {
    width: 90%;
  }

  .board__input {
    width: 60%;
    margin: 0 0 25px 0;
  }

  .board__info {
    width: 85%;

    &--item {
      width: 30px;
      padding: 10px 15px;

      border: 2px solid $text;
    }
  }

  .game__item,
  .game__card,
  .game__card--side {
    width: 80px;
    height: 100px;
  }

  .game {
    max-width: 481px;
  }

  .game__card--side {
    font-size: 20px;
  }

  .game__card--side img {
    width: 22px;
    height: 22px;
  }

  .game__card--side img:nth-child(2) {
    width: 28px;
    height: 28px;
  }

  .modal__content {
    font-size: 15px;
  }

  .modal__buttons {
    display: flex;
    justify-content: space-around;
  }

  .btn {
    padding: 10px 30px;
  }
}

// FOR MOBILE BROWSERS SMALLER THAN 376px
@media (max-width: 376px) {
  .board__logo {
    width: 90%;
  }

  .board__input {
    width: 70%;
    margin: 0 0 20px 0;
  }

  .board__info {
    width: 90%;

    &--item {
      width: 12px;
      padding: 10px 15px;
      font-size: 12px;
    }
  }

  .game__item,
  .game__card,
  .game__card--side {
    width: 50px;
    height: 90px;
    min-height: 50px;
  }

  .game {
    max-width: 378px;
  }

  .game__card--side {
    font-size: 15px;
  }

  .game__card--side img {
    width: 18px;
    height: 18px;
  }

  .game__card--side img:nth-child(2) {
    width: 24px;
    height: 24px;
  }

  .btn {
    padding: 10px 20px;
  }
}
