/* MAIN STYLES */
* {
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overflow: hidden;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  display: inline-block;
  padding: 15px 55px;
  cursor: pointer;
  border: 0;
  border-radius: 8px;
  background-color: #df445c;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.btn:hover {
  background-color: #db2a45;
}

.board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
  background: #87cefa url("../images/clouds.jpg") center center no-repeat;
  background-size: cover;
  -webkit-transition: margin 0.5s ease-out;
  transition: margin 0.5s ease-out;
}

.board--first {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.board__logo {
  margin: 100px 0;
}

.board__input {
  margin: 0 0 50px 0;
  padding: 15px;
  width: 25%;
  outline: none;
  border: 1px solid #181c32;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #181c32;
}

.board__info {
  width: 100%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.board__info--item {
  position: relative;
  padding: 25px 50px;
  font-size: 35px;
  font-weight: 700;
  color: #181c32;
  border: 5px solid #181c32;
}

.board__info--moves::before {
  content: 'moves';
  width: 100%;
  position: absolute;
  top: -50%;
  left: 0;
}

.board__info--time::before {
  content: 'time';
  width: 100%;
  position: absolute;
  top: -50%;
  left: 0;
}

.board.up {
  margin-top: -100vh;
}

.game__item,
.game__card,
.game__card--side {
  min-height: 100px;
  width: 150px;
  height: 210px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  cursor: pointer;
}

.game {
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game__item {
  padding: 3px 3px;
}

.game__card {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.game__card--side {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #704b00;
  background-image: url("https://cdn.discordapp.com/attachments/482233537026719746/896844303446462486/cardboard.png");
  font-size: 50px;
  color: #000;
}

.game__card--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.modal {
  width: 100%;
  height: 100%;
  display: none;
  text-align: left;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal__content {
  position: relative;
  margin: 15% auto;
  padding: 20px;
  width: 40%;
  z-index: 10000;
  border: 1px solid #808080;
  background-color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  color: #181c32;
  -webkit-animation: animateStart 0.5s;
          animation: animateStart 0.5s;
}

.modal__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.modal__title {
  font-size: 25px;
  font-weight: 700;
}

.modal__buttons {
  margin-top: 25px;
}

@-webkit-keyframes rotateCard {
  20%,
  90% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  0%,
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes rotateCard {
  20%,
  90% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  0%,
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@-webkit-keyframes animateStart {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animateStart {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes animateEnd {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -300px;
    opacity: 0;
  }
}

@keyframes animateEnd {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -300px;
    opacity: 0;
  }
}

@media (min-width: 1280px) and (max-height: 800px) {
  .board__info {
    width: 87%;
    margin-bottom: 10px;
  }
  .board__info--item {
    font-size: 25px;
  }
  .game__item,
  .game__card,
  .game__card--side {
    width: 130px;
    height: 190px;
  }
  .game {
    max-width: 1170px;
  }
}

@media (max-width: 1200px) {
  .board__info {
    width: 95%;
  }
  .game__item,
  .game__card,
  .game__card--side {
    width: 140px;
    height: 200px;
  }
  .game {
    max-width: 1170px;
  }
  .modal__content {
    margin: 45% auto;
    padding: 20px;
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .board__info {
    width: 86%;
  }
  .game {
    max-width: 991px;
  }
}

@media (max-width: 1024px) and (min-height: 600px) {
  .board__info {
    width: 90%;
  }
  .board__info--item {
    padding: 15px 30px;
    font-size: 20px;
  }
  .game__item,
  .game__card,
  .game__card--side {
    width: 110px;
    height: 150px;
  }
  .game {
    max-width: 1024px;
  }
  .game__card--side {
    font-size: 25px;
  }
  .game__card--side img {
    width: 46px;
    height: 46px;
  }
  .game__card--side img:nth-child(2) {
    width: 52px;
    height: 52px;
  }
  .modal__content {
    margin: 20% auto;
    padding: 20px;
    width: 60%;
  }
}

@media (max-width: 992px) {
  .board__input {
    width: 50%;
  }
  .board__info {
    width: 88%;
  }
  .board__info--item {
    font-size: 30px;
  }
  .game {
    max-width: 991px;
  }
  .game__card--side {
    font-size: 40px;
  }
  .game__card--side img {
    width: 46px;
    height: 46px;
  }
  .game__card--side img:nth-child(2) {
    width: 52px;
    height: 52px;
  }
  .modal__content {
    margin: 50% auto;
    padding: 20px;
    width: 60%;
  }
}

@media (max-width: 768px) {
  .board__input {
    width: 60%;
  }
  .board__info {
    width: 90%;
  }
  .board__info--item {
    font-size: 25px;
  }
  .game__item,
  .game__card,
  .game__card--side {
    width: 110px;
    height: 170px;
  }
  .game {
    max-width: 768px;
  }
  .game__card--side {
    font-size: 35px;
  }
  .game__card--side img {
    width: 36px;
    height: 36px;
  }
  .game__card--side img:nth-child(2) {
    width: 42px;
    height: 42px;
  }
  .modal__content {
    padding: 20px;
    width: 60%;
  }
}

@media (max-width: 576px) {
  .board__logo {
    width: 90%;
  }
  .board__input {
    width: 70%;
  }
  .board__info {
    width: 89%;
    margin-bottom: 10px;
  }
  .board__info--item {
    width: 30px;
    padding: 15px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 3px solid #181c32;
    font-size: 15px;
  }
  .game__item,
  .game__card,
  .game__card--side {
    width: 80px;
    height: 140px;
  }
  .game {
    max-width: 576px;
  }
  .game__card--side {
    font-size: 30px;
  }
  .game__card--side img {
    width: 26px;
    height: 26px;
  }
  .game__card--side img:nth-child(2) {
    width: 32px;
    height: 32px;
  }
  .modal__content {
    margin: 50% auto;
    padding: 15px;
    width: 80%;
  }
}

@media (max-width: 481px) {
  .board__logo {
    width: 90%;
  }
  .board__input {
    width: 60%;
    margin: 0 0 25px 0;
  }
  .board__info {
    width: 85%;
  }
  .board__info--item {
    width: 30px;
    padding: 10px 15px;
    border: 2px solid #181c32;
  }
  .game__item,
  .game__card,
  .game__card--side {
    width: 80px;
    height: 100px;
  }
  .game {
    max-width: 481px;
  }
  .game__card--side {
    font-size: 20px;
  }
  .game__card--side img {
    width: 22px;
    height: 22px;
  }
  .game__card--side img:nth-child(2) {
    width: 28px;
    height: 28px;
  }
  .modal__content {
    font-size: 15px;
  }
  .modal__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .btn {
    padding: 10px 30px;
  }
}

@media (max-width: 376px) {
  .board__logo {
    width: 90%;
  }
  .board__input {
    width: 70%;
    margin: 0 0 20px 0;
  }
  .board__info {
    width: 90%;
  }
  .board__info--item {
    width: 12px;
    padding: 10px 15px;
    font-size: 12px;
  }
  .game__item,
  .game__card,
  .game__card--side {
    width: 50px;
    height: 90px;
    min-height: 50px;
  }
  .game {
    max-width: 378px;
  }
  .game__card--side {
    font-size: 15px;
  }
  .game__card--side img {
    width: 18px;
    height: 18px;
  }
  .game__card--side img:nth-child(2) {
    width: 24px;
    height: 24px;
  }
  .btn {
    padding: 10px 20px;
  }
}
/*# sourceMappingURL=style.css.map */