/* MAIN STYLES */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 500;
}

.btn {
  display: inline-block;
  padding: 15px 55px;
  cursor: pointer;
  border: 0;
  border-radius: 8px;
  background-color: #df445c;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.btn:hover {
  background-color: #db2a45;
}

.board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
  background: #87cefa url("../images/clouds.jpg") center center no-repeat;
  background-size: cover;
  -webkit-transition: margin 0.5s ease-out;
  transition: margin 0.5s ease-out;
}

.board.up {
  margin-top: -100vh;
}

.board--first {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.board__logo {
  margin: 100px 0;
}

.board__input {
  margin: 0 0 50px 0;
  padding: 15px;
  width: 25%;
  outline: none;
  border: 1px solid #181c32;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #181c32;
}

.board__info {
  width: 50%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.board__info--item {
  position: relative;
  padding: 25px 50px;
  font-size: 35px;
  font-weight: 700;
  color: #181c32;
  border: 5px solid #181c32;
}

.board__info--moves::before {
  content: 'moves';
  width: 100%;
  position: absolute;
  top: -50%;
  left: 0;
}

.board__info--time::before {
  content: 'time';
  width: 100%;
  position: absolute;
  top: -50%;
  left: 0;
}

.game {
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game .game__item,
.game .game__card,
.game .game__card--side {
  min-height: 100px;
  width: 150px;
  height: 210px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  cursor: pointer;
}

.game__item {
  padding: 3px 3px;
}

.game__card {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.game__card--side {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #704b00;
  background-image: url("https://cdn.discordapp.com/attachments/482233537026719746/896844303446462486/cardboard.png");
  font-size: 50px;
  color: #000;
}

.game__card--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.notification {
  position: fixed;
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 10px 5px 5px #333;
          box-shadow: 10px 5px 5px #333;
  padding: 16px 32px;
  margin: 8px;
  font-size: 20px;
  color: green;
}

@-webkit-keyframes rotateCard {
  20%,
  90% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  0%,
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes rotateCard {
  20%,
  90% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  0%,
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@-webkit-keyframes animateStart {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animateStart {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes animateEnd {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -300px;
    opacity: 0;
  }
}

@keyframes animateEnd {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -300px;
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */